@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

form {
  font-size: 0;
}

input, textarea, button, select, a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #ececec;
  background: #272823;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-tap-highlight-color{
  color: transparent;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*cyrillic*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/*latin*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.green_btn {
  background: #0E6731;
  color: #ececec;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.green_btn:hover {
  background: #0FAE4E;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green_btn:active {
  background: #181818;
}

.title {
  padding: 56px 10px;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title__text {
  white-space: nowrap;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

.subtitle {
  max-width: 725px;
  margin: 14px auto 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.button__container_c {
  text-align: center;
}

.menu {
  padding: 8px 4% 8px 4%;
  background: rgba(44, 44, 44, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  /*position: fixed;*/
  width: 100vw;
}

.menu__cont {
  max-width: 1312px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .menu__cont {
    gap: 25.5px;
  }
}
@media (max-width: 424px) {
  .menu__cont {
    gap: 5px;
  }
}

.menu__logo {
  margin: 0 auto 0 0;
}
.menu__logo img {
  height: 40px;
  -webkit-transition: all 0.22s ease-in-out;
  transition: all 0.22s ease-in-out;
}
.menu__logo img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media (max-width: 645px) {
  .menu__logo {
    margin: 0 auto;
  }
}

.menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.menu__navigation .menu__btn {
  text-transform: uppercase;
  -webkit-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
}
@media (max-width: 645px) {
  .menu__navigation {
    display: none;
  }
}

.menu_burger {
  height: 40px;
  width: 40px;
}
@media (min-width: 645px) {
  .menu_burger {
    display: none;
  }
}

.authorization form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.authorization .green_btn {
  padding: 8px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .authorization .green_btn {
    display: none;
  }
}
.authorization .menu__signin img {
  height: 32px;
  width: 32px;
}
@media (min-width: 767px) {
  .authorization .menu__signin {
    display: none;
  }
}
.authorization .menu__btn:active {
  background: #181818;
}

.menu__btn {
  white-space: nowrap;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.menu__btn:hover {
  background: #0FAE4E;
}

.footer {
  background-color: inherit;
  padding: 16px 10px;
}

.footer__cont {
  max-width: 1184px;
  margin: 0 auto;
}

.footer__navigator {
  margin: 0 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr 0.8fr auto;
  grid-template-columns: 1.2fr 1fr 0.8fr auto;
}

@media (max-width: 767px) {
  .footer__navigator {
    margin: 38px 10px 0;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 30px;
  }
  .footer__navigator > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.column_1__cont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__support {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.footer__social_links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc_btn {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

@media (max-width: 767px) {
  .soc_btn {
    background-size: 85%;
  }
}
.discord {
  width: 32px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.107 2.00999C25.0356 1.071 22.8208 0.388577 20.5052 0C20.2208 0.498142 19.8886 1.16815 19.6595 1.70115C17.198 1.34249 14.7591 1.34249 12.3429 1.70115C12.1139 1.16815 11.7741 0.498142 11.4871 0C9.16908 0.388577 6.95167 1.07351 4.88026 2.01497C0.70219 8.13203 -0.430415 14.0972 0.135889 19.9776C2.907 21.9826 5.59255 23.2005 8.23277 23.9975C8.88465 23.1283 9.46605 22.2042 9.9669 21.2304C9.013 20.8792 8.09937 20.4459 7.2361 19.9427C7.46512 19.7784 7.68914 19.6065 7.90557 19.4296C13.1709 21.8157 18.8919 21.8157 24.0943 19.4296C24.3133 19.6065 24.5373 19.7784 24.7638 19.9427C23.898 20.4483 22.9818 20.8817 22.0279 21.2329C22.5288 22.2042 23.1077 23.1308 23.7621 24C26.4048 23.203 29.0929 21.9851 31.864 19.9776C32.5285 13.1607 30.7289 7.25033 27.107 2.00999ZM10.6842 16.3612C9.10363 16.3612 7.8074 14.9315 7.8074 13.1906C7.8074 11.4496 9.07595 10.0175 10.6842 10.0175C12.2926 10.0175 13.5887 11.4471 13.5611 13.1906C13.5636 14.9315 12.2926 16.3612 10.6842 16.3612ZM21.3157 16.3612C19.7351 16.3612 18.4388 14.9315 18.4388 13.1906C18.4388 11.4496 19.7073 10.0175 21.3157 10.0175C22.9239 10.0175 24.2202 11.4471 24.1925 13.1906C24.1925 14.9315 22.9239 16.3612 21.3157 16.3612Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.discord:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.107 2.00999C25.0356 1.071 22.8208 0.388577 20.5052 0C20.2208 0.498142 19.8886 1.16815 19.6595 1.70115C17.198 1.34249 14.7591 1.34249 12.3429 1.70115C12.1139 1.16815 11.7741 0.498142 11.4871 0C9.16908 0.388577 6.95167 1.07351 4.88026 2.01497C0.70219 8.13203 -0.430415 14.0972 0.135889 19.9776C2.907 21.9826 5.59255 23.2005 8.23277 23.9975C8.88465 23.1283 9.46605 22.2042 9.9669 21.2304C9.013 20.8792 8.09937 20.4459 7.2361 19.9427C7.46512 19.7784 7.68914 19.6065 7.90557 19.4296C13.1709 21.8157 18.8919 21.8157 24.0943 19.4296C24.3133 19.6065 24.5373 19.7784 24.7638 19.9427C23.898 20.4483 22.9818 20.8817 22.0279 21.2329C22.5288 22.2042 23.1077 23.1308 23.7621 24C26.4048 23.203 29.0929 21.9851 31.864 19.9776C32.5285 13.1607 30.7289 7.25033 27.107 2.00999ZM10.6842 16.3612C9.10363 16.3612 7.8074 14.9315 7.8074 13.1906C7.8074 11.4496 9.07595 10.0175 10.6842 10.0175C12.2926 10.0175 13.5887 11.4471 13.5611 13.1906C13.5636 14.9315 12.2926 16.3612 10.6842 16.3612ZM21.3157 16.3612C19.7351 16.3612 18.4388 14.9315 18.4388 13.1906C18.4388 11.4496 19.7073 10.0175 21.3157 10.0175C22.9239 10.0175 24.2202 11.4471 24.1925 13.1906C24.1925 14.9315 22.9239 16.3612 21.3157 16.3612Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}

.discord:active {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.107 2.00999C25.0356 1.071 22.8208 0.388577 20.5052 0C20.2208 0.498142 19.8886 1.16815 19.6595 1.70115C17.198 1.34249 14.7591 1.34249 12.3429 1.70115C12.1139 1.16815 11.7741 0.498142 11.4871 0C9.16908 0.388577 6.95167 1.07351 4.88026 2.01497C0.70219 8.13203 -0.430415 14.0972 0.135889 19.9776C2.907 21.9826 5.59255 23.2005 8.23277 23.9975C8.88465 23.1283 9.46605 22.2042 9.9669 21.2304C9.013 20.8792 8.09937 20.4459 7.2361 19.9427C7.46512 19.7784 7.68914 19.6065 7.90557 19.4296C13.1709 21.8157 18.8919 21.8157 24.0943 19.4296C24.3133 19.6065 24.5373 19.7784 24.7638 19.9427C23.898 20.4483 22.9818 20.8817 22.0279 21.2329C22.5288 22.2042 23.1077 23.1308 23.7621 24C26.4048 23.203 29.0929 21.9851 31.864 19.9776C32.5285 13.1607 30.7289 7.25033 27.107 2.00999ZM10.6842 16.3612C9.10363 16.3612 7.8074 14.9315 7.8074 13.1906C7.8074 11.4496 9.07595 10.0175 10.6842 10.0175C12.2926 10.0175 13.5887 11.4471 13.5611 13.1906C13.5636 14.9315 12.2926 16.3612 10.6842 16.3612ZM21.3157 16.3612C19.7351 16.3612 18.4388 14.9315 18.4388 13.1906C18.4388 11.4496 19.7073 10.0175 21.3157 10.0175C22.9239 10.0175 24.2202 11.4471 24.1925 13.1906C24.1925 14.9315 22.9239 16.3612 21.3157 16.3612Z' fill='%23181818'/%3E%3C/svg%3E%0A");
}

.telegram {
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 14.5C28 22.232 21.732 28.5 14 28.5C6.26801 28.5 0 22.232 0 14.5C0 6.76801 6.26801 0.5 14 0.5C21.732 0.5 28 6.76801 28 14.5ZM14.188 9.89062C12.461 10.6049 9.0217 12.0772 3.85538 14.2928C3.02876 14.6281 2.58594 14.9488 2.54165 15.2695C2.47629 15.8118 3.16359 16.0224 4.09076 16.3065C4.21041 16.3432 4.33404 16.3811 4.46057 16.4211C5.37575 16.7126 6.58614 17.0479 7.22086 17.0625C7.79654 17.077 8.43126 16.8438 9.13978 16.3628C13.9666 13.1413 16.4464 11.5087 16.6088 11.4795C16.7269 11.4503 16.8745 11.4212 16.9778 11.5087C17.0812 11.5961 17.0812 11.771 17.0664 11.8148C16.996 12.1045 14.1164 14.7445 12.806 15.9459C12.4684 16.2554 12.235 16.4694 12.1805 16.5231C12.0421 16.6638 11.9011 16.7971 11.7656 16.9252C10.9183 17.7261 10.2825 18.3271 11.7967 19.3073C12.4852 19.7561 13.0404 20.1302 13.5872 20.4986C14.248 20.9439 14.8965 21.3808 15.7527 21.9312C15.9544 22.062 16.1475 22.1976 16.3359 22.33C17.0712 22.8466 17.7347 23.3127 18.5572 23.2431C19.0296 23.1993 19.5167 22.762 19.7676 21.4501C20.3581 18.3598 21.5094 11.6398 21.7751 8.87023C21.8046 8.637 21.7751 8.33088 21.7456 8.18512C21.7161 8.03935 21.6718 7.84985 21.4947 7.70408C21.2733 7.52915 20.9485 7.5 20.8009 7.5C20.1367 7.51458 19.1034 7.86442 14.188 9.89062Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.telegram:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 14.5C28 22.232 21.732 28.5 14 28.5C6.26801 28.5 0 22.232 0 14.5C0 6.76801 6.26801 0.5 14 0.5C21.732 0.5 28 6.76801 28 14.5ZM14.188 9.89062C12.461 10.6049 9.0217 12.0772 3.85538 14.2928C3.02876 14.6281 2.58594 14.9488 2.54165 15.2695C2.47628 15.8118 3.16359 16.0224 4.09077 16.3065C4.21041 16.3432 4.33404 16.3811 4.46057 16.4211C5.37575 16.7126 6.58614 17.0479 7.22086 17.0625C7.79654 17.077 8.43126 16.8438 9.13978 16.3628C13.9666 13.1413 16.4464 11.5087 16.6088 11.4795C16.7269 11.4503 16.8745 11.4212 16.9778 11.5087C17.0812 11.5961 17.0812 11.771 17.0664 11.8148C16.996 12.1045 14.1164 14.7445 12.806 15.9459C12.4684 16.2554 12.235 16.4694 12.1805 16.5231C12.0421 16.6638 11.9011 16.7971 11.7656 16.9252C10.9183 17.7261 10.2825 18.3271 11.7967 19.3073C12.4852 19.7561 13.0404 20.1302 13.5872 20.4986C14.248 20.9439 14.8965 21.3808 15.7527 21.9312C15.9544 22.062 16.1475 22.1976 16.3359 22.33C17.0712 22.8466 17.7347 23.3127 18.5572 23.2431C19.0296 23.1993 19.5167 22.762 19.7676 21.4501C20.3581 18.3598 21.5094 11.6398 21.7751 8.87023C21.8046 8.637 21.7751 8.33088 21.7456 8.18512C21.7161 8.03935 21.6718 7.84985 21.4947 7.70408C21.2733 7.52915 20.9485 7.5 20.8009 7.5C20.1367 7.51458 19.1034 7.86442 14.188 9.89062Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}

.telegram:active {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 14.5C28 22.232 21.732 28.5 14 28.5C6.26801 28.5 0 22.232 0 14.5C0 6.76801 6.26801 0.5 14 0.5C21.732 0.5 28 6.76801 28 14.5ZM14.188 9.89062C12.461 10.6049 9.0217 12.0772 3.85538 14.2928C3.02876 14.6281 2.58594 14.9488 2.54165 15.2695C2.47628 15.8118 3.16359 16.0224 4.09077 16.3065C4.21041 16.3432 4.33404 16.3811 4.46057 16.4211C5.37575 16.7126 6.58614 17.0479 7.22086 17.0625C7.79654 17.077 8.43126 16.8438 9.13978 16.3628C13.9666 13.1413 16.4464 11.5087 16.6088 11.4795C16.7269 11.4503 16.8745 11.4212 16.9778 11.5087C17.0812 11.5961 17.0812 11.771 17.0664 11.8148C16.996 12.1045 14.1164 14.7445 12.806 15.9459C12.4684 16.2554 12.235 16.4694 12.1805 16.5231C12.0421 16.6638 11.9011 16.7971 11.7656 16.9252C10.9183 17.7261 10.2825 18.3271 11.7967 19.3073C12.4852 19.7561 13.0404 20.1302 13.5872 20.4986C14.248 20.9439 14.8965 21.3808 15.7527 21.9312C15.9544 22.062 16.1475 22.1976 16.3359 22.33C17.0712 22.8466 17.7347 23.3127 18.5572 23.2431C19.0296 23.1993 19.5167 22.762 19.7676 21.4501C20.3581 18.3598 21.5094 11.6398 21.7751 8.87023C21.8046 8.637 21.7751 8.33088 21.7456 8.18512C21.7161 8.03935 21.6718 7.84985 21.4947 7.70408C21.2733 7.52915 20.9485 7.5 20.8009 7.5C20.1367 7.51458 19.1034 7.86442 14.188 9.89062Z' fill='%23181818'/%3E%3C/svg%3E%0A");
}

.youtube {
  width: 32px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='23' viewBox='0 0 32 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.5017 1.1571C29.8794 1.51929 30.9622 2.58255 31.3309 3.93556C31.9973 6.38546 32 11.5 32 11.5C32 11.5 32 16.6146 31.3309 19.0645C30.9622 20.4175 29.8794 21.4807 28.5017 21.8429C26.0073 22.5 15.9999 22.5 15.9999 22.5C15.9999 22.5 5.99275 22.5 3.49818 21.8429C2.12052 21.4807 1.03787 20.4175 0.669081 19.0645C0 16.6146 0 11.5 0 11.5C0 11.5 0 6.38546 0.669081 3.93556C1.03787 2.58255 2.12052 1.51929 3.49818 1.1571C5.99275 0.5 15.9999 0.5 15.9999 0.5C15.9999 0.5 26.0073 0.5 28.5017 1.1571ZM21.1106 11.5003L12.7971 16.2138V6.78674L21.1106 11.5003Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.youtube:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='23' viewBox='0 0 32 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.5017 1.1571C29.8794 1.51929 30.9622 2.58255 31.3309 3.93556C31.9973 6.38546 32 11.5 32 11.5C32 11.5 32 16.6146 31.3309 19.0645C30.9622 20.4175 29.8794 21.4807 28.5017 21.8429C26.0073 22.5 15.9999 22.5 15.9999 22.5C15.9999 22.5 5.99275 22.5 3.49818 21.8429C2.12052 21.4807 1.03787 20.4175 0.669081 19.0645C0 16.6146 0 11.5 0 11.5C0 11.5 0 6.38546 0.669081 3.93556C1.03787 2.58255 2.12052 1.51929 3.49818 1.1571C5.99275 0.5 15.9999 0.5 15.9999 0.5C15.9999 0.5 26.0073 0.5 28.5017 1.1571ZM21.1106 11.5003L12.7971 16.2138V6.78677L21.1106 11.5003Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}

.youtube:active {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='23' viewBox='0 0 32 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.5017 1.1571C29.8794 1.51929 30.9622 2.58255 31.3309 3.93556C31.9973 6.38546 32 11.5 32 11.5C32 11.5 32 16.6146 31.3309 19.0645C30.9622 20.4175 29.8794 21.4807 28.5017 21.8429C26.0073 22.5 15.9999 22.5 15.9999 22.5C15.9999 22.5 5.99275 22.5 3.49818 21.8429C2.12052 21.4807 1.03787 20.4175 0.669081 19.0645C0 16.6146 0 11.5 0 11.5C0 11.5 0 6.38546 0.669081 3.93556C1.03787 2.58255 2.12052 1.51929 3.49818 1.1571C5.99275 0.5 15.9999 0.5 15.9999 0.5C15.9999 0.5 26.0073 0.5 28.5017 1.1571ZM21.1106 11.5003L12.7971 16.2138V6.78677L21.1106 11.5003Z' fill='%23181818'/%3E%3C/svg%3E%0A");
}

.column {
  white-space: nowrap;
}

.column__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.column__btn {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  margin: 16px 0 0;
}

.column:last-child .column__title {
  font-size: 16px;
  line-height: 19px;
}
.column:last-child .column__btn {
  font-size: 14px;
  line-height: 17px;
}

.footer__text {
  margin: 48px 0 0;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.footer__text a {
  color: #ececec;
  border-bottom: 1px solid #ececec;
}

.footer__text_mobile {
  display: none;
  margin: 48px 10px 0;
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 767px) {
  .footer__text {
    display: none;
  }
  .footer__text_mobile {
    display: block;
  }
}
.modal_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.modal_wrapper:target {
  opacity: 1;
  visibility: visible;
}

.modal_content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 459px) {
  .modal_content {
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
}
.modal {
  padding: 80px 58px 48px;
  background: #2C2C2C;
  outline: 1px solid #181818;
  border-radius: 16px;
}

@media (max-width: 1140px) {
  .modal {
    padding: 80px 20px 48px;
  }
}
@media (max-width: 459px) {
  .modal {
    padding: 80px 5px 48px;
    border-radius: 0;
  }
}
.modal__close_btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.9884 5.08211C25.3789 4.69158 25.3789 4.05842 24.9884 3.66789C24.5978 3.27737 23.9647 3.27737 23.5741 3.66789L14.3281 12.9139L5.08211 3.66789C4.69158 3.27737 4.05842 3.27737 3.66789 3.66789C3.27737 4.05842 3.27737 4.69158 3.66789 5.08211L12.9139 14.3281L3.66789 23.5741C3.27737 23.9646 3.27737 24.5978 3.66789 24.9883C4.05842 25.3788 4.69158 25.3788 5.08211 24.9883L14.3281 15.7423L23.5741 24.9883C23.9647 25.3788 24.5978 25.3788 24.9884 24.9883C25.3789 24.5978 25.3789 23.9646 24.9884 23.5741L15.7423 14.3281L24.9884 5.08211Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.modal__close_btn:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.4571 5.70711C28.8476 5.31658 28.8476 4.68342 28.4571 4.29289C28.0666 3.90237 27.4334 3.90237 27.0429 4.29289L16.375 14.9607L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L14.9608 16.375L4.29289 27.0428C3.90237 27.4333 3.90237 28.0665 4.29289 28.457C4.68342 28.8475 5.31658 28.8475 5.70711 28.457L16.375 17.7892L27.0429 28.457C27.4334 28.8475 28.0666 28.8475 28.4571 28.457C28.8476 28.0665 28.8476 27.4333 28.4571 27.0428L17.7892 16.375L28.4571 5.70711Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}

.modal__close_btn:active {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.4571 5.70711C28.8476 5.31658 28.8476 4.68342 28.4571 4.29289C28.0666 3.90237 27.4334 3.90237 27.0429 4.29289L16.375 14.9608L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L14.9608 16.375L4.29289 27.0429C3.90237 27.4334 3.90237 28.0666 4.29289 28.4571C4.68342 28.8476 5.31658 28.8476 5.70711 28.4571L16.375 17.7892L27.0429 28.4571C27.4334 28.8476 28.0666 28.8476 28.4571 28.4571C28.8476 28.0666 28.8476 27.4334 28.4571 27.0429L17.7892 16.375L28.4571 5.70711Z' fill='%23181818'/%3E%3C/svg%3E%0A");
}

.modal__cont {
  width: 420px;
}

@media (max-width: 459px) {
  .modal__cont {
    width: 100%;
  }
}
.modal__title {
  text-align: center;
  margin: 0 0 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.title__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ececec;
}

.modal__input {
  width: 100%;
  margin: 16px 0 0;
  padding: 8px 16px;
  background: #D9D9D9;
  border-radius: 6px;
  color: #595959;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.modal input::-webkit-input-placeholder {
  color: #595959;
}

.modal input:-moz-placeholder {
  color: #595959;
}

.input__label {
  margin: 8px 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.show_password {
  display: inline-block;
}
.show_password .checkbox {
  margin: 8px 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 32px;
  position: relative;
}
.show_password .checkbox:before {
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid #0A9CEE;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
.show_password .checkbox:hover:before {
  border-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='%23D9D9D9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.show_password .checkbox.active:before {
  border-color: #0A9CEE;
  background-color: #0A9CEE;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='%23D9D9D9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.show_password .checkbox.active:hover:before {
  border-color: #0b76ef;
  background-color: #0b76ef;
}
.show_password .checkbox input {
  display: none;
}

.password_btn {
  float: right;
  margin: 10.5px 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid #ececec;
}

.modal__btn {
  display: inline-block;
  margin: 32px 0 0;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.modal__btn:hover {
  background: #0b76ef;
}

.modal__btn:active {
  background: #181818;
}

.top {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top form {
  display: inline-block;
}

.top__body {
  margin: 0 10px;
  max-width: 1000px;
  text-align: center;
}

.top__title img {
  height: 96px;
  width: 525px;
}

.top__subtitle {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.top__btn {
  margin: 40px 0 0;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.top__btn_2 {
  margin: 0 0 0 40px;
}

@media (max-width: 427px) {
  .top__btn_2 {
    margin: 25px 0 0 0;
  }
}
.store {
  padding: 40px 0 60px;
}

.store__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.store__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store__tab {
  display: none;
}

.Top_Products {
  display: block;
}

.store__grid {
  display: -ms-grid;
  display: grid;
}

.store__card {
  width: 200px;
  height: 200px;
  border: 1px solid #E2E0CA;
  position: relative;
}

.card__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.card__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #778D76;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.card__price {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #DAD078;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.card__sale {
  background: #DAD078;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #272823;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.store__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.store__menu__btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background: #0E6731;
}

.store__menu__btn:hover {
  background: #378154;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.store__menu__btn:active {
  background: #6DB861;
  color: #272823;
}

.clans {
  padding: 40px 0 60px;
  background-color: #364237;
}

.clans__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.social {
  padding: 40px 0 60px;
  background-color: #0A0A0B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 31px;
}

@media (max-width: 1023px) {
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.social__body {
  margin: 0 10px 0 40px;
  max-width: 500px;
}

@media (max-width: 1023px) {
  .social__body {
    margin: 0 10px;
    text-align: center;
  }
}
.social__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.social__text {
  margin: 10px 0 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #D9D9D9;
}

.social__btn {
  padding: 8px 20px;
  margin: 20px 0 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background-color: #5865F2;
}

@media (max-width: 1023px) {
  .social__btn {
    margin: 40px 0 0;
  }
}
.about {
  padding: 40px 0 60px;
  background-color: #364237;
}

.about__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.other {
  padding: 40px 0 60px;
}

.other__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.other__subtitle {
  margin: 20px 0 0;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
}

.other__links {
  margin: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.other__link {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.other__link:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}